torch==2.11.0+cu126
datasets
interpreto==0.5.0.dev1
ipykernel
pandas

# uv pip install --prerelease=allow --index-url https://pypi.org/simple --extra-index-url https://download.pytorch.org/whl/cu126 -r requirements.txt